@model GDS.Bible.ViewModels.BibleViewModel
@{
    ViewData["Title"] = "Translations";
}

<h1>Select a Translation</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Translation.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Translation.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Translation.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Translation.HasStrongs)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Translations) {
        <tr>
            <td>
                <a asp-action="Select" asp-route-id="@item.Id">Select</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.Raw(item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasStrongs)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
