@model GDS.UI.ViewModels.BibleViewModel

@{
    ViewData["Title"] = "Bible Reader";
}

<h2>Bible Reader</h2>
<form asp-controller="Bibles" asp-action="GetBook">
    <select asp-for="BookNo" asp-items="Model.Books"></select>
    <input type="submit" />
</form>
<p>

    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.BookColor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BookNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShortName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LongName)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookColor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShortName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LongName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }*@
    </tbody>
</table>