@model GDS.Bible.ViewModels.BibleViewModel

@{
    ViewData["Title"] = "Verses";
}

    <h1>
        <a asp-controler="Translations" asp-action="Reset">@Model.Translation.Code</a>
        <a asp-controler="Books" asp-action="Reset">@Model.Book.Title</a> <a asp-controler="Chapters" asp-action="Reset">@Model.Chapter.ChapterNo</a>
    </h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Verse.VerseNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Verse.Text)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Verses)
        {
            <tr>
                <td>
                    <a asp-action="Select" asp-route-id="@item.Id">Select</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VerseNo)
                </td>
                <td>
                    @Html.Raw(item.Text)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
